# Venv ignore because its big and contains local-only files
venv/
.venv/

# its better to delete than ignore because its already in history
#.github/workflows/backend-ci.yml
#.github/workflows/frontend-ci.yml

# Python compiled files:
__pycache__/
*.pyc

# IDE settings My workspace preferences:
.idea/

# OS setttings, Mac/Windows system files
.DS_Store
Thumbs.db

# Node/Frontend Junk (For Giorgi)
node_modules/
build/
.env