name: Backend Ci (Flask)

on:
  push:
    branches: [ "main" ]
    paths:
        - 'backend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  test-backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m -pip install --upgrade pip
          pip install flask flask-cors
          # pip install -r requirements.txt 
      
      - name: Run Unit Tests
        run: |
          python test_matrix.py